.h-content {
    background-color: #fff;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}

.h-author {
    color: #10D07A;
    font-size: 1.4rem;
}

.h-topbar {
    position: relative;
    min-height: 50px;
    background-color: #252525;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #ddd;
}

.h-topbar a {
    color: #ffffff;
}

.h-green {
    color: green;
}


/* extends amazeui.css*/
.am-dropdown a {
    color: #10D07A;
}
